<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>data-binding</title>
</head>
<body>
    <div id="app">
        <h1> My name is {{ name }} </h1>
        <h1> {{ doubleAge }}</h1>
        <h1 v-bind:id="uuid" v-bind:class="blue"> directive </h1>
        <div v-if="isLoading">
            Loading ...
        </div>
        <div v-else>
            Doby has been logged in ...
        </div>
        <!--
            v-if vs v-show
                v-if는 dom을 제거하는 것!
                v-show는 display:none 으로 숨기는 것!
         -->
        <div v-show="isLoading">
            test
        </div>
        <!-- TODO : input box 만들고 값을 p 태그에 출략해보기! -->
        <!-- 참고 : https://vuejs.org/v2/guide/forms.html#ad -->
        <input type="text" v-model="message"/>
        <p> {{ message }} </p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                name: 'doby',
                age: 10,
                // dom에 대한 정보도 리액티브하게 변경 가능!
                uuid: 'direct',
                blue: 'text-blue',
                isLoading: true,
                message: ''
            },
            computed: {
                doubleAge: function () {
                    return this.age * 2;
                }
            }
        });
    </script>
</body>
</html>